.linkBtn,
.darkLinkBtn {
  background-color: #22c55e;
  padding: 1.2rem 2.8rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #444;
  font-weight: 600;
  border-radius: 100px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.darkLinkBtn {
  background-color: #7adc9e;
  color: #202830;
}

.linkBtn:hover {
  background-color: #4ade80;
}

.darkLinkBtn:hover {
  background-color: #64d68e;
}

.login,
.darkLogin {
  background-color: #fff;
  padding: 0.9rem 1.8rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #444;
  font-weight: 600;
  border-radius: 6px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.darkLogin {
  background-color: #f0f0f0;
  color: #202830;
}

.login:hover {
  background-color: #f0fdf4;
}

.darkLogin:hover {
  background-color: #7adc9e;
  /* color: #f0f0f0; */
}

.cartBtn,
.darkCartBtn {
  background-color: #22c55e;
  padding: 1.2rem 2.8rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #444;
  font-weight: 600;
  border-radius: 100px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  align-self: end;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  flex-shrink: 0;
}

.darkCartBtn {
  background-color: #7adc9e;
}

.cartBtn:hover {
  background-color: #4ade80;
}

.darkCartBtn:hover {
  background-color: #64d68e;
}

:global(.backBtn),
:global(.darkBackBtn) {
  display: inline-block;
  align-self: start;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;

  background-color: transparent;
  border-radius: 100px;
  padding: 1.2rem 2.2rem;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #22c55e;
  color: #22c55e;
}

:global(.darkBackBtn) {
  border: 1px solid #7adc9e;
  color: #7adc9e;
}

:global(.backBtn):hover {
  color: #fff;
  background-color: #22c55e;
}
:global(.darkBackBtn):hover {
  color: #202830;
  background-color: #7adc9e;
}
