.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #22c55e;
  padding: 1.6rem 3.2rem;
}

.logo {
  color: #444;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.headerDiv {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.bookmarkList {
  height: 2.4rem;
  fill: #171717;
  transition: all 0.2s;
}

.bookmarkList:hover {
  transform: scale(1.15);
  filter: drop-shadow(
    rgba(5, 46, 22, 0.25) 0px 13px 27px -5px,
    rgba(5, 46, 22, 0.3) 0px 8px 16px -8px
  );
}
