.product,
.darkProduct {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 3rem;
  margin: 4rem;
  padding: 4rem 4rem 2rem 2rem;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  transition: all 0.2s;
}

.darkProduct {
  background-color: #1f1f1f;
}

.productBackBtn,
.darkProductBackBtn {
  background-color: #fff;
  color: #22c55e;
  border: 1.5px solid #22c55e;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.1rem 1.8rem;
  border-radius: 100px;
  cursor: pointer;
  align-self: start;
  position: absolute;
  top: 14px;
  left: 14px;
}

.productBackBtn:hover {
  color: #fff;
  background-color: #22c55e;
  border: 1.5px solid #22c55e;
}

.darkProductBackBtn {
  color: #7adc9e;
  border: 1.5px solid #7adc9e;
  background-color: transparent;
}

.darkProductBackBtn:hover {
  background-color: #7adc9e;
  color: #444;
}

.productImg,
.darkProductImg {
  height: 400px;
  width: auto;
}

.darkProductImg {
  padding: 2rem;
  background-color: #fff;
  border-radius: 6px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3rem;
  gap: 1rem;
}

.productHeading,
.darkProductHeading {
  font-size: 3.2rem;
  margin-bottom: 1px;
}

.darkProductHeading {
  color: #e1e1e1;
}

.productCategory,
.darkProductCategory {
  font-size: 1.4rem;
  font-weight: 500;
}

.darkProductCategory {
  color: #7adc9e;
}

.productDescription,
.darkProductDescription {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: #444;
  word-spacing: 1px;
}

.darkProductDescription {
  color: #e1e1e1;
}

.productPrice,
.darkProductPrice {
  font-size: 1.8rem;
  font-weight: 500;
}

.productRate,
.darkProductRate {
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
}

.darkProductPrice,
.darkProductRate {
  color: #e1e1e1;
}

.bookmark,
.darkBookmark {
  height: 2.6rem;
  font-size: 1rem;
  fill: #22c55e;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  top: 15px;
  right: 15px;
}

.darkBookmark {
  fill: #7adc9e;
}

.bookmark:hover,
.darkBookmark:hover {
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px);
  transform: scale(0.95);
}
