.product {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 3rem;
  margin: 4rem;
  padding: 4rem 4rem 2rem 2rem;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  transition: all 0.2s;
}

.productBackBtn {
  background-color: #fff;
  color: #22c55e;
  border: 1.5px solid #22c55e;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.1rem 1.8rem;
  border-radius: 100px;
  cursor: pointer;
  align-self: start;
  position: absolute;
  top: 14px;
  left: 14px;
}

.productBackBtn:hover {
  color: #fff;
  background-color: #22c55e;
  border: 1.5px solid #22c55e;
}

.productImg {
  height: 400px;
  width: auto;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3rem;
  gap: 1rem;
}

.productHeading {
  font-size: 3.2rem;
  margin-bottom: 1px;
}

.productCategory {
  font-size: 1.4rem;
  font-weight: 500;
}

.productDescription {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: #444;
  word-spacing: 1px;
}

.productPrice {
  font-size: 1.8rem;
  font-weight: 500;
}

.productRate {
  font-size: 1.8rem;
  font-weight: 500;
  color: #444;
}

.bookmark {
  height: 2.6rem;
  font-size: 1rem;
  fill: #22c55e;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  top: 15px;
  right: 15px;
}

.bookmark:hover {
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px);
  transform: scale(0.95);
}
