:global(.products) {
  margin: 3rem 10rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.container {
  text-decoration: none;
}

.productList {
  display: flex;
  gap: 2rem;
  align-items: end;
  padding: 1.6rem 2rem 1.6rem 4rem;
  background-color: #fff;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  border-radius: 8px;

  transition: all 0.3s;

  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.productList:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  transform: scale(1.005) translateY(-3px);
}

.productList:nth-child(3) {
  align-self: end;
}

.productCol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.6rem 2rem;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  width: 20%;
  height: 100%;
  border-radius: 8px;

  transition: all 0.3s;

  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.productCol:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  transform: scale(1.005) translateY(-3px);
}

.productCol:nth-child(3) {
  align-self: end;
}

.details,
.colDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
}

.colDetails {
  align-self: start;
}

.imgLink img {
  display: inline-block;
  width: fit-content;
  height: 100px;
}

.headingLink {
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: none;
  color: #3f3f46;
  transition: all 0.2s;
}
.headingLink:hover {
  text-decoration: underline;
  font-size: 1.72rem;
  transform: scale(1.005) translateY(-2px);
}

.description span {
  font-size: 1.4rem;
  color: #71717a;
  line-height: 1.1;
}

.rating {
  font-size: 1.4rem;
  font-weight: 500;
  color: #52525b;
}

.rating span {
  color: #a1a1aa;
  width: 100%;
}

.price {
  font-size: 1.4rem;
  font-weight: 600;
  color: #52525b;
}

.colViewPrice {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 1rem;
}

.bookmark,
.colViewBookmark {
  height: 2.2rem;
  font-size: 1rem;
  fill: #22c55e;
  flex-shrink: 0;
  align-self: start;
  cursor: pointer;
  transition: all 0.3s;
}

.bookmark:hover,
.colViewBookmark {
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 2.6px 1.95px 1.95px);
  transform: scale(0.95);
}

.colViewBookmark {
  position: absolute;
}

.lowerDiv {
  display: flex;
  justify-content: space-between;
  align-self: start;
  /* gap: 5rem; */
  width: 100%;
}
