.heading,
.darkHeading {
  font-size: 2rem;
}

.darkHeading {
  color: #e1e1e1;
}

.form,
.darkForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  margin: 2rem;
  padding: 4rem;
  background-color: #22c55e;
  border-radius: 8px;
  box-shadow: rgba(34, 197, 94, 0.2) 0px 4px 16px,
    rgba(34, 197, 94, 0.2) 0px 8px 24px, rgba(34, 197, 94, 0.2) 0px 16px 56px;
}

.darkForm {
  background-color: #1f1f1f;
  box-shadow: rgba(31, 31, 31, 0.2) 0px 4px 16px,
    rgba(31, 31, 31, 0.2) 0px 8px 24px, rgba(31, 31, 31, 0.2) 0px 16px 56px;
}

.label,
.darkLabel {
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
}

.darkLabel {
  color: #e1e1e1;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}

.input,
.darkInput {
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  padding: 0.6rem 6rem 0.4rem 1rem;
  border: none;
  border-radius: 4px;
  color: #3f3f46;
  letter-spacing: 1px;
  background-color: #f1f5f9;
  transition: all 0.2s;
}

.darkInput {
  color: #202830;
}

.input::placeholder {
  color: #a1a1aa;
}

.input:focus {
  outline: 3px solid #14532d;
  background-color: #fff;
}
.darkInput:focus {
  outline: 3px solid #202830;
  background-color: #f0f0f0;
}
